.chatbot .btn-chatbot {
    position: fixed;
    bottom: 3rem;
    right: 1.625rem;
    z-index: 999999;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 1px 20px 1px #0408ff;
    width: 50px; /* Adjust this value according to the desired size of your SVG image */
    height: auto;
}

.chatbot .btn-chatbot:hover {
    box-shadow: none;
}

.active-question {
    border: 1px solid #000fff;
    background-color: transparent !important;
    color: #000ba5 !important;
}

.custom-card-header:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.custom-card-header button:hover {
    text-decoration: none; /* Removes the underline */
}

.select2.select2-container {
    width: 100% !important;
}

.select2.select2-container .select2-selection {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px;
    height: 50px;
    margin-bottom: 15px;
    outline: none !important;
    transition: all .15s ease-in-out;
  }
  
  .select2.select2-container .select2-selection .select2-selection__rendered {
    color: #333;
    line-height: 32px;
    padding-right: 40px;
  }
  
  .select2.select2-container .select2-selection .select2-selection__arrow {
    background: #f8f8f8;
    border-left: 1px solid #ccc;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    height: 48px;
    width: 33px;
  }
  
  .select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
    background: #f8f8f8;
  }

  .select2.select2-container .select2-selection .select2-selection__rendered {
    color: #333;
    line-height: 32px;
    padding-top: 8px;
    padding-right: 33px;
  }