body {
    font-size: 16px;
}

@media only screen and (min-width: 767px) {}

body {
    font-size: 1.9vw;
}

.table th {
    font-size: 1.68vw;
}

.table td {
    font-size: 1.9vw;
}

.table .bx {
    font-size: 1.9vw;
}

@media screen and (min-width: 654px) {
    body {
        font-size: 1.88vw;
    }
}