body {
    font-size: 16px;
}

@media only screen and (min-width: 767px) {}

body {
    font-size: 2.34vw;
}

.table th {
    font-size: 1.88vw;
}

.table td {
    font-size: 1.98vw;
}

.table .data {
    width: 12.5vw;
}

.table .bx {
    font-size: 2.19vw;
}

@media screen and (min-width: 654px) {
    body {
        font-size: 1.88vw;
    }
}